nav{
  background-color:lightblue ;

}
nav ul {
  display: flex;
  list-style: none;
  justify-content: right;
  height: 60px;
  align-items: center;
  

}
nav ul li{
  margin: 0px 30px;
  color: black;
}